body {
  background: url(cover.jpg) center/cover fixed no-repeat;
  color: #ffffff;
  height: 100vh;
  margin: 0;
}

.navbar {
  background-color: transparent;
  background-color: gray;
}

.navbar-brand img {
  margin-bottom: 2px;
  max-width: 200px;
  height: auto;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar-nav .nav-item {
  display: inline-block;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
  margin: 20px;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #cc1e1e;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before {
  width: 100%;
  left: 0;
}

.dropdown-menu {
  background-color: gray;
  color: #ffffff;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block;
}


/* Media Query for screens with a maximum width of 991 pixels */
@media only screen and (max-width: 991px) {
  .navbar-nav .nav-link::before {
    width: 0 !important;
  }
}

/* Media Query for screens with a maximum width of 1024 pixels */
@media only screen and (max-width: 1024px) {
  .navbar-nav .nav-link {
    font-size: 12px;
  }
}



.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 30px;
}

.card2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 30px;
  text-align: center;
  color: black;
}

.card3 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 30px;
  text-align: center;
  color: black;
}

.container_second {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-align: center;
}

.card5 {
  /* display: flex;
  flex-direction: column; */
  background-color: white;
  color: black;
  margin-top: 30px;
  text-align: center;
}

.card6 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-align: center;
}


.container_last {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card7 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-align: center;
}

.card8 {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-align: center;
}